[Unit]
Description=StratuxHud display service
After=network-online.target splashscreen.service
Wants=network-online.target
Conflicts=splashscreen.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/StratuxHud
ExecStart=/usr/bin/python3 /home/pi/StratuxHud/stratux_hud.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
