# cp stratux_hud.service /etc/systemd/system
# sudo chmod 664
# sudo systemctl enable stratux_hud.service

[Unit]
Description=Stratux HUD

[Service]
ExecStart=/usr/bin/python /home/pi/StratuxHud/stratux_hud.py
ExecStop=/usr/bin/pkill stratux_hud
Group=pi
Restart=always
User=pi
WorkingDirectory=/home/pi/StratuxHud

[Install]
WantedBy=default.target
