[Unit]
Description=Splash screen
DefaultDependencies=no
After=local-fs.target
Before=sysinit.target shutdown.target

[Service]
ExecStart=/usr/bin/fbi -d /dev/fb0 --noverbose -a /home/pi/StratuxHud/media/hud_logo.jpg
StandardInput=tty
StandardOutput=tty
TTYReset=yes
TTYVTDisallocate=yes

[Install]
WantedBy=sysinit.target